/* css file imports */
@import url(./sections/sidebar.css);
@import url(./sections/mainbar.css);

:root {
  --primary-color: #f9fafb;
  --secondary-color: #596d48;

  --error: #ff0000;
  --sucess: #008000;

  --text-color: #000;
  --normal-weight: 400;
  --bold-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

@font-face {
  font-family: norse-bold;
  src: url(../assets/fonts/Norse-Bold.otf);
}

a {
  text-decoration: none;
  color: initial;
}