.mainbar {
  width: 62.5vw;
  background: var(--primary-color);
}

.mainbar__paragraph {
  padding: 15.5vh 5vh 0;
}

.mainbar__subtitle {
  padding: 2.5vh 0 7vh;
}

.mainbar__form {
  background: white;
  padding: 3vh 5vh;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.form__field--container {
  display: flex;
  margin: 3vh 0;
}

.form__field--container:last-child {
  margin: 0;
}

.form__label {
  display: flex;
}

.form__input {
  height: 3vh;
  width: 12vw;
}

.form__input:nth-child(even) {
  margin-right: 10vh;
}

.mainbar__low {
  padding: 5vh 5vh 0;
}

.mainbar__btn {
  cursor: pointer;
  background: var(--secondary-color);
  border: none;
  border-radius: 7px;
  margin-bottom: 3.5vh;
  padding: 0.7vw 6vh;
}

.mainbar__btn p {
  color: white;
  font-size: 1.2rem;
}

.mainbar__login span {
  color: var(--secondary-color);
  font-weight: 600;
}