.sidebar {
  background-image: url(../../assets/background.jpg);
  background-position: center;
  background-size: cover;
  width: 37.5vw;
}

.sidebar__board {
  align-items: center;
  background-color: #00000075;
  color: #fff;
  display: flex;
  font-size: 6rem;
  justify-content: center;
}