.sidebar {
  background-image: url(../../assets/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37.5vw;
}

.sidebar__board {
  align-items: center;
  background-color: #00000075;
  color: #fff;
  display: flex;
  font-size: 6rem;
  justify-content: center;
  margin-top: 20vh;
  padding: 16px 0;
}

.sidebar__board img {
  height: 7.8rem;
}

.sidebar__credit {
  color: white;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  margin-bottom: 1.5vh;
}

.sidebar__credit a {
  color: white;
  text-decoration: underline;
}